body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    fill: steelblue;
    stroke: #000;
}

path {
	fill: none;
	/*stroke: #999;*/
}

.pagebreak { page-break-before: always; }